h1{
    background-color: wheat;
    color: black;
}
h2{
    background-color: wheat;
    color: black;
}
body{
    background-color: rgb(5, 101, 43);
}
h3{
    background-color: wheat;
    color: black;
}
h4{
    background-color: wheat;
    color: black;
}
h5{
    background-color: wheat;
    color: black;
}